<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-<%= nonce %>'">
  <meta charset="UTF-8">
  <style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-left:30px;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li a {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor:pointer;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  margin-left:30px;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .end{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.search-box{
  position: relative;
  margin-top:10px;
  height: 30px;
  width: 100%;
}
.search-box input{
  height: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  padding-right: 30px;
  width:25%;
  min-width: 200px;
}
.add-user{
  margin-left: -30px;
height: 30px;
width: 30px;
background: #0A2558;
color: white;
border: 0;
-webkit-appearance: none;
display: inline-block;
text-align: center;
padding-top: 5.1px;
cursor: pointer;
border-radius: 0px 10px 10px 0px;
border: 1.5px solid #EFEEF1;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.link-to-copy{
  color: #66b0ff !important;
}
.link-to-copy:hover{
  color: #2f5fb8 !important;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .data-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .data-boxes .recent-data{
  width: calc(100% - 40px);
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .data-boxes .data-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.data-boxes .data-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.data-boxes .data-details li{
  list-style: none;
  padding: 7px 20px;
  height:30px;
  vertical-align: middle;
}

.data-boxes .data-details li:nth-child(odd) {
  background: #ddd;
}
.data-boxes .data-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.data-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.data-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.data-boxes .box .button a:hover{
  background:  #0d3073;
}

/* Right box */
.home-content .data-boxes .top-data{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.data-boxes .top-data li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.data-boxes .top-data li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.data-boxes .top-data li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.remove-btn {
  background: red;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 20px;
  display: block;
  border: 1px solid black;
  margin-left: 50%;
  transform: translate(-50%);
}
.copy-btn {
  cursor: pointer;
  width: 100px;
  background-color: #229e60;
  color: #fff !important;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  text-align: center;
}
.resetpwd-btn{
  background: orange;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 20px;
  display: block;
  border: 1px solid black;
  margin-left: 50%;
  transform: translate(-50%);
}
.copy-btn:hover{
  background-color: #30c279;
}

.data-boxes .top-data li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 120px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 120px);
    left: 120px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 120px;
  }
  .home-section nav{
    width: calc(100% - 120px);
    left: 120px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 120px;
  }
}
@media (max-width: 1150px) {
  .home-content .data-boxes{
    flex-direction: column;
  }
  .home-content .data-boxes .box{
    width: calc(100% - 40px);
    overflow-x: auto;
  }
  .home-content .data-boxes .top-data{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .data-boxes .data-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.loader-div {
	background-color: rgba(0.1,0.1,0.1,0.5);
	position: absolute;
  top: 0px;left: 0px;
  width: 100%; height: 100%;
  z-index:100;
}
.loader-content {
	padding-top:20%;
}
.loader {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #fff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  </style>
  <!-- Boxicons CDN Link -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">ISiCell</span>
    </div>
    <ul class="nav-links">
      <li>
        <a class="active" id="btnUsers">
          <span class="links_name">Users</span>
        </a>
      </li>
      <li>
        <a id="btnLog">
          <span class="links_name">Logs</span>
        </a>
      </li>
      <li>
        <a id="btnNotebooks">
          <span class="links_name">Notebooks</span>
        </a>
      </li>
      <li>
        <a id="btnSaveSimu">
          <span class="links_name">simu SQL</span>
        </a>
      </li>
      </ul>
      <ul class="nav-links end">
      <li>
        <a id="btnRestartUpdate">
          <span class="links_name">Restart / Update</span>
        </a>
      </li>
      <li>
        <a href="/disconnect">
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <span class="dashboard">Dashboard</span>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes"><div class="box">
        <div class="right-side">
          <div class="box-topic">Stats login</div>
          <div class="number" id="numberLogin">40,876</div>
          <div class="indicator">
            <span class="text">connections</span>
          </div>
        </div>
      </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Stats builder</div>
            <div class="number" id="numberBuilder">38,876</div>
            <div class="indicator">
              <span class="text">connections</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Stats viewer</div>
            <div class="number" id="numberViewer">12,876</div>
            <div class="indicator">
              <span class="text">connections</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Stats notebook</div>
            <div class="number" id="numberNotebook">12,876</div>
            <div class="indicator">
              <span class="text">connections</span>
            </div>
          </div>
        </div>
      </div>

      <div class="data-boxes" id=dataContent><div class="recent-data box">
      </div>
    </div>
  </section>
<div class="loader-div" id="loader" style="display:none;">
  <center class="loader-content">
    <div class="loader"></div>
  </center>
</div>
<script nonce="<%= nonce %>">
  var sidebar = document.querySelector('.sidebar');
  var loaderDiv = document.getElementById('loader');

    ajaxJson = function (url, cb) {
      loaderDiv.style.display = 'block';
      fetch(url).then(function (res) {
        return res.json();
      }).then(function (json) {
        cb(json)
        loaderDiv.style.display = 'none';
      });
    }

    ajax = function (url, cb) {
      loaderDiv.style.display = 'block';
      fetch(url).then(function (res) {
        cb(res)
        loaderDiv.style.display = 'none';
      })
    }

    updateCallBackRemoveBtn = function(){
      dataContentDOM.querySelectorAll('.remove-btn').forEach(btn => {
        btn.onclick = (e) => {
          let user = e.target.getAttribute('user');
          console.log('/api/user/delete/' + user)
          ajax('/api/user/delete/' + user, () => {
            dataContentDOM.querySelectorAll('li > [user=' + user + ']').forEach(el => {
              el.parentElement.remove();
            })
          })
        }
      })
    }

    var dataContentDOM = document.getElementById('dataContent')
    userView = ()=>{
      sidebar.querySelector('.active').classList.remove('active')
      document.getElementById('btnUsers').classList.add('active')
      ajaxJson('/api/usersInfo',(data)=>{
      let nbLogin = data.reduce((acc, val) => acc + val.stats.login, 0)
      let nbBuilder = data.reduce((acc, val) => acc + val.stats.builder, 0)
      let nbViewer = data.reduce((acc, val) => acc + val.stats.viewer, 0)
      let nbNotebook = data.reduce((acc, val) => acc + val.stats.notebook, 0)
      document.getElementById('numberLogin').innerText = nbLogin
      document.getElementById('numberBuilder').innerText = nbBuilder
      document.getElementById('numberViewer').innerText = nbViewer
      document.getElementById('numberNotebook').innerText = nbNotebook
      let html ='\
      <div class="recent-data box">\
        <div class="title">Users</div>\
        <div class="data-details">\
          <ul class="details" style="width:100%">\
            <li class="topic">User name</li>'
      for(user of data){
        html += '<li><a user="' + user.name +'">'+user.name+'</a></li>';
      }
      html += '\
        </ul>\
        <ul class="details" style="width:100%">\
          <li class="topic">Last use</li>'
      for (user of data) {
        let date = new Date(user.lastUse)
        html += '<li><a user="' + user.name + '">' + date.toLocaleString() + '</a></li>';
      }
      html +='\
          </ul>\
          <ul class="details">\
            <li class="topic">Status</li>'
      for (user of data) {
        if(user.url!=='')
          html += '<li><div class="tooltip" user="' + user.name + '"><a class="copy-btn" link="' + window.location.origin+'/'+user.url + '"><span class="tooltiptext">Copied to clipboard</span>Copy link</a></div></li>';
        else
          html += '<li><a user="' + user.name + '">' + user.status + '</a></li>';
      }
      html +='\
          </ul>\
          <ul class="details">\
            <li class="topic">ResetPwd</li>'
      for (user of data) {
        if(user.name == 'admin' || user.status == 'pending'){
          html += '<li></li>';
        } else {
          html += '<li><a user="'+user.name+'" class="resetpwd-btn" user="'+user.name+'">⟳</a></li>';
        }
      }
      html +='\
          </ul>\
          <ul class="details">\
            <li class="topic">Remove</li>'
      for (user of data) {
        if(user.name == 'admin'){
          html += '<li></li>';
        } else {
          html += '<li><a user="'+user.name+'" class="remove-btn">x</a></li>';
        }
      }
      html +='\
          </ul>\
        </div>\
          <div class="search-box"><input id="inputNewUsername" type="text" placeholder="user name"/>\
            <a class="add-user" id="newUserBtn" >+</a>\
      </div>\
      </div>'
      dataContentDOM.innerHTML = html.trim()
      dataContentDOM.querySelectorAll('.copy-btn').forEach(cpBtn=>cpBtn.onclick=function(){copyClipboard(this)})
      dataContentDOM.querySelectorAll('.resetpwd-btn').forEach(cpBtn=>cpBtn.onclick=function(){ajaxJson('/api/user/resetPwd/'+ this.getAttribute('user'),(data)=>{userView()})})
      var newUser = ()=>{
        let newUsername = document.getElementById('inputNewUsername').value
        if(newUsername!==""){
          document.getElementById('inputNewUsername').value = ""
          ajaxJson('/api/user/newUser/'+ newUsername,(data)=>{
            let date = new Date(Date.now())
            let dataDom = ['<li><a user="' + newUsername + '">' + newUsername + '</a></li>',
                            '<li><a user="' + newUsername + '">' + date.toLocaleString() + '</a></li>',
                            '<li><div class="tooltip" user="' + newUsername + '"><a class="copy-btn" link="' + window.location.origin+'/'+ data.url + '"><span class="tooltiptext">Copied to clipboard</span>Copy link</a></div></li>',
                            '<li><a user="' + newUsername + '" class="remove-btn">x</a></li>']
            dataContentDOM.querySelectorAll('.details').forEach((el,i) => {
              let n = document.createElement('template')
              n.innerHTML = dataDom[i];
              el.appendChild(n.content.firstChild);
            })
            dataContentDOM.querySelectorAll('.copy-btn').forEach(cpBtn=>cpBtn.onclick=function(){copyClipboard(this)})
            updateCallBackRemoveBtn();
          })
        }
      }
      document.getElementById('newUserBtn').onclick = newUser;

        document.getElementById('inputNewUsername').onkeydown = () => {
        if (event.keyCode == 13) {
          newUser();
        }
      }
      updateCallBackRemoveBtn();
    })}

  notebookView = () => {
      sidebar.querySelector('.active').classList.remove('active')
      document.getElementById('btnNotebooks').classList.add('active')
    ajaxJson('/api/notebook/getNotebooksRunning', (data) => {
      
      let style = ''
      let html = '<div class="recent-data box">\
        <div class="title">Notebooks</div>\
        <div class="data-details">\
          <ul class="details" style="width:100%">\
            <li class="topic">User name</li>'
      for (nb of data['data']) {
        html += '<li><a idnb="' + nb.id + '">' + nb.user + '</a></li>';
      }
      html += '\
        </ul>\
        <ul class="details" style="width:100%">\
          <li class="topic">Last use</li>'
      for (nb of data['data']) {
        let date = new Date(nb.lastUse)
        html += '<li><a idnb="' + nb.id + '">' + date?.toLocaleString() + '</a></li>';
      }
      html += '\
          </ul>\
          <ul class="details">\
            <li class="topic">CPU</li>'
      for (nb of data['data']) {
        if (nb.cpu > 75) style = 'style="background:#df4934"'
        else if (nb.cpu > 50) style = 'style="background:#df8934"'
        else style = ''
        html += '<li ' + style + '><a idnb="' + nb.id + '">' + nb.cpu.toFixed(2) + '%</a></li>';
      }
      html += '\
          </ul>\
          <ul class="details">\
            <li class="topic">MEM</li>'
      for (nb of data['data']) {
        if (nb.mem > 50) style = 'style="background:#df4934"'
        else if (nb.mem > 25) style = 'style="background:#df8934"'
        else style = ''
        html += '<li ' + style + '><a idnb="' + nb.id + '">' + nb.mem.toFixed(2) + '%</a></li>';
      }
      html += '\
          </ul>\
          <ul class="details">\
            <li class="topic">Kill</li>'
      for (nb of data['data']) {
          html += '<li><a idnb="' + nb.id + '" class="remove-btn">x</a></li>';
      }
      html +='\
          </ul>\
        </div>'
    dataContentDOM.innerHTML = html.trim()
    dataContentDOM.querySelectorAll('.remove-btn').forEach(btn => {
      btn.onclick = (e) => {
        let idnb = e.target.getAttribute('idnb');
        console.log('/api/notebook/kill/' + idnb)
        fetch("api/notebook/kill/" + idnb, {
          method: 'POST', headers: { 'Content-Type': 'application/json' }, body: '{ "event": "admin kill" }'
        }).then((response) => response.json()).then(()=>{
          dataContentDOM.querySelectorAll('li > [idnb="' + idnb + '"]').forEach(el => {
            el.parentElement.remove();
          })
        })
      }
    })
    })
  }

  saveSimuView = () => {
      sidebar.querySelector('.active').classList.remove('active')
      document.getElementById('btnSaveSimu').classList.add('active')
    ajaxJson('/api/listtokensimu', (data) => {
      
      let style = ''
      let html = '<div class="recent-data box">\
        <div class="title">Simu saved in database</div>\
        <div class="data-details">\
          <ul class="details" style="width:100%">\
            <li class="topic">Token</li>'
      for (t of data['data']) {
        html += '<li token="'+t.token+'">'+t.token+'</li>';
      }
      html += '\
          </ul>\
          <ul class="details" style="width:100%">\
            <li class="topic">Status</li>'
      for (t of data['data']) {
        html += '<li token="'+t.token+'">'+(t.isRunning?'active':'finish')+'</li>';
      }
      html += '\
          </ul>\
          <ul class="details">\
            <li class="topic">Delete</li>'
      for (t of data['data']) {
          html += '<li token="'+t.token+'"><a class="remove-btn">x</a></li>';
      }
      html +='\
          </ul>\
        </div>'
    dataContentDOM.innerHTML = html.trim()
    dataContentDOM.querySelectorAll('.remove-btn').forEach(btn => {
      btn.onclick = (e) => {
        let token = e.target.parentElement.getAttribute('token');
        console.log('/api/kill/' + token)
        fetch("/api/kill/" + token, {
          method: 'POST', body: '{ "event": "admin kill","deleteSimu":true }'
        }).then((response) => response.json()).then((r)=>{
          console.log(r)
          if(r.ok)
          dataContentDOM.querySelectorAll('li[token="' + token + '"]').forEach(el => {
            el.remove();
          })
        })
      }
    })
    })

  }

  logView = () => {
      sidebar.querySelector('.active').classList.remove('active')
      document.getElementById('btnLog').classList.add('active')
    ajaxJson('/api/getLog', (data) => {
      data=data.data.reverse();
      let html = '\
      <div class="recent-data box">\
        <div class="title">Log</div>\
        <div class="data-details">\
          <ul class="details"style="width:385px">\
            <li class="topic">Date</li>'
      for (d of data) {
        html += '<li>'+(new Date(d.date)).toLocaleDateString('fr-FR', { year: "numeric", month: "2-digit", day: "2-digit", hour: "2-digit", minute: "2-digit", second: "2-digit" }).replace(' ','_') +'</li>';
      }
      html += '</ul>\
        <ul class="details">\
          <li class="topic">name</li>'
      for (d of data) {
        html += '<li>' + d.username + '</li>';
      }
      html += '</ul>\
          <ul class="details">\
            <li class="topic">IP</li>'
      for (d of data) {
        html += '<li>' + d.ip + '</li>';
      }
      html += '</ul>\
          <ul class="details">\
            <li class="topic">info</li>'
      for (d of data) {
        html += '<li>' + d.key + '</li>';
      }
      html += '</ul>\
          <ul class="details" style="width:100%">\
            <li class="topic">url</li>'
      for (d of data) {
          html += '<li>'+d.url+'</li>';
      }
      html += '</ul>'
      dataContentDOM.innerHTML = html.trim()
  })
}

    function copyClipboard(self) {
        var copyText = document.getElementById("myInput");
        navigator.clipboard.writeText(self.getAttribute('link'));

        var tooltip = self.firstElementChild;
        tooltip.style.visibility = "visible";
        tooltip.style.opacity = 1;
        setTimeout(() => {
          tooltip.style.visibility = "hidden";
          tooltip.style.opacity = 0;
        }, 2000);
      }

  document.getElementById('btnUsers').onclick = userView
  document.getElementById('btnLog').onclick = logView
  document.getElementById('btnNotebooks').onclick = notebookView
  document.getElementById('btnSaveSimu').onclick = saveSimuView
  document.getElementById('btnRestartUpdate').onclick = ()=>{
    ajax('/api/exit', () => {
      setTimeout(()=>{
      loaderDiv.style.display = 'block';
      },100)
      
      setTimeout(()=>{
        location.href = '/app.html';
      },3*60*1000)
    })
  }
  userView()
  </script>

</body>

</html>