:root {
  /* Light mode */
  --light-ui-text: #40424c;
  --light-ui-text-2: #26272c;
  --light-ui-text-hover: rgb(110, 110, 110);
  --light-ui-text-2-hover: #40424c;
  --light-diagram-grid: rgba(240, 240, 240, .7);
  --light-ui-bg-0: #ffffff;
  --light-ui-bg-1: #eeeeee;
  --light-ui-bg-2 : #fbfbfb;
  --light-ui-bg-3 : #f3f3f3;
  --light-ui-bg-4 : #eaeaea;
  --light-ui-border : #bbb;
  --light-ui-bg-input : #eee;
  --light-ui-bg-input-hover : #ddd;
  --light-ui-bg-3-hover: #e9e9e9;
  --light-ui-bg-4-hover: #d2d2d2;
  --light-ui-theme: #10bfd2;
  --light-ui-theme-hover: #0b828e;
  --light-ui-error: #CE356B;
  --light-ui-warning: #cb4b16;
  --light-ui-success: #2aa198;
  --light-ui-info: #268bd2;
  --light-ui-scrollthumb: #ddd;
  --light-ui-scrollbar: #fff;
  --light-ui-btn-text: #40424c;
  --light-ui-btn-text-hover: #31323a;
  --light-ui-btn-bg: #e0e6ff;
  --light-ui-btn-bg-hover: #cdd3e9;
  --light-diagram-completed-state: #97f2ab;
  --light-diagram-completed-state-border: #61bb75;
  --light-diagram-modified-state: #fbd895;
  --light-diagram-modified-state-border: #dfae4e;
  --light-diagram-empty-state: #fb9196;
  --light-diagram-empty-state-border: #ee577d;
  --light-ui-icon-color0: #657b83;
  --light-ui-icon-color1: #CE356B;
  --light-ui-icon-color2: #cb4b16;
  --light-ui-icon-color3: #b58900;
  --light-ui-icon-color4: #2aa198;
  --light-ui-icon-color5: #268bd2;
  --light-ui-icon-color6: #8c51b4;

  --light-terminal-black: #fbfbfb;
  --light-terminal-black-bright: #888888;
  --light-terminal-white: #40424c;
  --light-terminal-white-bright: #26272c;
  --light-terminal-red: #b22e5c;
  --light-terminal-red-bright: #CE356B;
  --light-terminal-green: #248d84;
  --light-terminal-green-bright: #2aa198;
  --light-terminal-yellow: #9a7400;
  --light-terminal-yellow-bright: #b58900;
  --light-terminal-blue: #2278b6;
  --light-terminal-blue-bright: #268bd2;
  --light-terminal-purple: #774498;
  --light-terminal-purple-bright: #8c51b4;
  --light-terminal-cyan: #20a2b6;
  --light-terminal-cyan-bright: #26bbd2;

  --light-editor-base: vs;
  --light-editor-keyword:#CE356B;
  --light-editor-parameter:#cb4b16;
  --light-editor-string:#b58900;
  --light-editor-function:#2aa198;
  --light-editor-type:#268bd2;
  --light-editor-number:#8c51b4;
  --light-editor-background:#fcfcfc;
  --light-editor-foreground:#426868;
  --light-editor-comment:#a3b1b1;
  --light-editor-highlight:#10bfd2;
  --light-editor-lineNumber:#80979c;
  --light-ui-img-filter : brightness(0.958);

  /* Dark mode */
  --dark-ui-text: #8b888f;
  --dark-ui-text-2: #bfbac5;
  --dark-ui-text-hover: #f7f7f7;
  --dark-ui-text-2-hover: #88858c;
  --dark-diagram-grid: rgba(88, 88, 88, 0.7);
  --dark-ui-bg-0: #222222;
  --dark-ui-bg-1: #131313;
  --dark-ui-bg-2 : #212122;
  --dark-ui-bg-3 : #191919;
  --dark-ui-bg-4 : #191919;
  --dark-ui-border : #000;
  --dark-ui-bg-input : #444;
  --dark-ui-bg-input-hover : #303030;
  --dark-ui-bg-3-hover: #333;
  --dark-ui-bg-4-hover: #424242;
  --dark-ui-theme: #40b2bf;
  --dark-ui-theme-hover: #27737b;
  --dark-ui-error: #fc618d;
  --dark-ui-warning: #fd9353;
  --dark-ui-success: #7bd88f;
  --dark-ui-info: #5ad4e6;
  --dark-ui-scrollthumb: #444;
  --dark-ui-scrollbar: #292929;
  --dark-ui-btn-text: #bbbbbb;
  --dark-ui-btn-text-hover: #9e9e9e;
  --dark-ui-btn-bg: #4b5063;
  --dark-ui-btn-bg-hover: #3c4152;
  --dark-diagram-completed-state: #7bd88f;
  --dark-diagram-completed-state-border: #3f8b50;
  --dark-diagram-modified-state: #f0c674;
  --dark-diagram-modified-state-border: #c79c47;
  --dark-diagram-empty-state: #ff6188;
  --dark-diagram-empty-state-border: #c94163;
  --dark-ui-icon-color0: #F7F1FF;
  --dark-ui-icon-color1: #fc618d;
  --dark-ui-icon-color2: #fd9353;
  --dark-ui-icon-color3: #FFD866;
  --dark-ui-icon-color4: #7bd88f;
  --dark-ui-icon-color5: #5ad4e6;
  --dark-ui-icon-color6: #948ae3;

  --dark-terminal-black: #212121;
  --dark-terminal-black-bright: #888888;
  --dark-terminal-white: #bfbac5;
  --dark-terminal-white-bright: #f7f7f7;
  --dark-terminal-red: #dd547b;
  --dark-terminal-red-bright: #fc618d;
  --dark-terminal-green: #6abc7c;
  --dark-terminal-green-bright: #7bd88f;
  --dark-terminal-yellow: #e1be56;
  --dark-terminal-yellow-bright: #FFD866;
  --dark-terminal-blue: #4c9ac7;
  --dark-terminal-blue-bright: #5ab3e6;
  --dark-terminal-purple: #7970b9;
  --dark-terminal-purple-bright: #948ae3;
  --dark-terminal-cyan: #50bfd0;
  --dark-terminal-cyan-bright: #5ad4e6;

  --dark-editor-base: vs-dark;
  --dark-editor-keyword:#fc618d;
  --dark-editor-parameter:#fd9353;
  --dark-editor-string:#FFD866;
  --dark-editor-function:#7bd88f;
  --dark-editor-type:#5ad4e6;
  --dark-editor-number:#948ae3;
  --dark-editor-background:#222222;
  --dark-editor-foreground:#F7F1FF;
  --dark-editor-comment:#666466;
  --dark-editor-highlight:#10bfd2;
  --dark-editor-lineNumber:#a2a0a2;
  --dark-ui-img-filter: invert(0.9);

  /* Default mode */
  --text: var(--light-ui-text);
  --text-2: var(--light-ui-text-2);
  --text-hover: var(--light-ui-text-hover);
  --text-2-hover: var(--light-ui-text-2-hover);
  --diagram-grid: var(--light-diagram-grid);
  --canvas-bg: var(--light-editor-background);
  --bg-0: var(--light-ui-bg-0);
  --bg-1: var(--light-ui-bg-1);
  --bg-2: var(--light-ui-bg-2);
  --bg-3: var(--light-ui-bg-3);
  --bg-4: var(--light-ui-bg-4);
  --border : var(--light-ui-border);
  --bg-input : var(--light-ui-bg-input);
  --bg-input-hover : var(--light-ui-bg-input-hover);
  --bg-3-hover : var(--light-ui-bg-3-hover);
  --bg-4-hover : var(--light-ui-bg-4-hover);
  --theme : var(--light-ui-theme);
  --bg-color: var(--light-ui-bg-0);
  --theme-color: var(--light-ui-theme);
  --theme-color-hover: var(--light-ui-theme-hover);
  --ui-error: var(--light-ui-error);
  --ui-warning: var(--light-ui-warning);
  --ui-success: var(--light-ui-success);
  --ui-info: var(--light-ui-info);
  --scrollthumb-color: var(--light-ui-scrollthumb);
  --scrollbar-color: var(--light-ui-scrollbar);
  --btn-text: var(--light-ui-btn-text);
  --btn-text-hover: var(--light-ui-btn-text-hover);
  --btn-bg: var(--light-ui-btn-bg);
  --btn-bg-hover: var(--light-ui-btn-bg-hover);
  --diagram-completed-state: var(--light-diagram-completed-state);
  --diagram-completed-state-border: var(--light-diagram-completed-state-border);
  --diagram-modified-state: var(--light-diagram-modified-state);
  --diagram-modified-state-border: var(--light-diagram-modified-state-border);
  --diagram-empty-state: var(--light-diagram-empty-state);
  --diagram-empty-state-border: var(--light-diagram-empty-state-border);

  --ui-icon-color0: var(--light-ui-icon-color0);
  --ui-icon-color1: var(--light-ui-icon-color1);
  --ui-icon-color2: var(--light-ui-icon-color2);
  --ui-icon-color3: var(--light-ui-icon-color3);
  --ui-icon-color4: var(--light-ui-icon-color4);
  --ui-icon-color5: var(--light-ui-icon-color5);
  --ui-icon-color6: var(--light-ui-icon-color6);
  --terminal-black: var(--light-terminal-black);
  --terminal-black-bright: var(--light-terminal-black-bright);
  --terminal-white: var(--light-terminal-white);
  --terminal-white-bright: var(--light-terminal-white-bright);
  --terminal-red: var(--light-terminal-red);
  --terminal-red-bright: var(--light-terminal-red-bright);
  --terminal-green: var(--light-terminal-green);
  --terminal-green-bright: var(--light-terminal-green-bright);
  --terminal-yellow: var(--light-terminal-yellow);
  --terminal-yellow-bright: var(--light-terminal-yellow-bright);
  --terminal-blue: var(--light-terminal-blue);
  --terminal-blue-bright: var(--light-terminal-blue-bright);
  --terminal-purple: var(--light-terminal-purple);
  --terminal-purple-bright: var(--light-terminal-purple-bright);
  --terminal-cyan: var(--light-terminal-cyan);
  --terminal-cyan-bright: var(--light-terminal-cyan-bright);


  --editor-base:var(--light-editor-base);
  --editor-keyword:var(--light-editor-keyword);
  --editor-parameter:var(--light-editor-parameter);
  --editor-string:var(--light-editor-string);
  --editor-function:var(--light-editor-function);
  --editor-type:var(--light-editor-type);
  --editor-number:var(--light-editor-number);
  --editor-background:var(--light-editor-background);
  --editor-foreground:var(--light-editor-foreground);
  --editor-comment:var(--light-editor-comment);
  --editor-highlight:var(--light-editor-highlight);
  --editor-lineNumber:var(--light-editor-lineNumber);

  --img-filter: var(--light-ui-img-filter);

  /*--vscode-hover-whiteSpace: pre;*/

  /* Gradients https://bennettfeely.com/scales/ */
  /*? 'Gradient_' Needed */
  --Gradient_YlGnBu: linear-gradient(90deg, #ffffd9, #eff9bd, #d5efb3, #a9ddb7, #74c9bd, #46b4c2, #2897bf, #2073b2, #234ea0, #1d3185, #1d3185);
  --Gradient_viridis:linear-gradient(90deg, #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26);
  --Gradient_plasma:linear-gradient(90deg, #0d0887, #41049d, #6a00a8, #8f0da4, #b12a90, #cb4679, #e16462, #f1834c, #fca636, #fcce25, #fcce25);
  --Gradient_spectral: linear-gradient(90deg, #9e0142, #d13b4b, #f0704a, #fcab63, #fedc8c, #fbf8b0, #e0f3a1, #aadda2, #69bda9, #4288b5, #4288b5);
  --Gradient_cool: linear-gradient(90deg, #6e40aa, #6154c8, #4c6edb, #368ce1, #24aad8, #1ac7c2, #1ddea3, #30ee83, #52f667, #7ef658, #7ef658);
  --Gradient_RdBu: linear-gradient(90deg, #67001f, #ab202e, #d55f50, #f0a285, #fad6c3, #f2efee, #cde3ee, #90c2dd, #4b94c4, #2265a3, #2265a3);
  --Gradient_PiYG: linear-gradient(90deg, #8e0152, #c0267e, #dd72ad, #f0b2d6, #fadded, #f5f3ef, #e1f2ca, #b7de88, #81bb48, #4f9125, #4f9125);
  --Gradient_PuOr: linear-gradient(90deg, #7f3b08, #b15a09, #dd841f, #f8b664, #fdddb2, #f3eeea, #d7d7e9, #b0aad0, #8170ad, #552d84, #552d84);
  --Gradient_BrBG: linear-gradient(90deg, #543005, #8b530f, #bc8434, #ddbd7b, #f2e4bf, #eef1ea, #c3e7e2, #80c9bf, #399890, #0a675f, #0a675f);
}

#theme-switch:checked ~ * {
  --text: var(--dark-ui-text);
  --text-2: var(--dark-ui-text-2);
  --text-hover: var(--dark-ui-text-hover);
  --text-2-hover: var(--dark-ui-text-2-hover);
  --canvas-bg: var(--dark-editor-background);
  --bg-0: var(--dark-ui-bg-0);
  --bg-1: var(--dark-ui-bg-1);
  --bg-2: var(--dark-ui-bg-2);
  --bg-3: var(--dark-ui-bg-3);
  --bg-4: var(--dark-ui-bg-4);
  --border : var(--dark-ui-border);
  --bg-input : var(--dark-ui-bg-input);
  --bg-input-hover : var(--dark-ui-bg-input-hover);
  --bg-3-hover : var(--dark-ui-bg-3-hover);
  --bg-4-hover : var(--dark-ui-bg-4-hover);
  --theme : var(--dark-ui-theme);
  --bg-color: var(--dark-ui-bg-0);
  --theme-color: var(--dark-ui-theme);
  --theme-color-hover: var(--dark-ui-theme-hover);
  --ui-error: var(--dark-ui-error);
  --ui-warning: var(--dark-ui-warning);
  --ui-success: var(--dark-ui-success);
  --ui-info: var(--dark-ui-info);
  --scrollthumb-color: var(--dark-ui-scrollthumb);
  --scrollbar-color: var(--dark-ui-scrollbar);
  --btn-text: var(--dark-ui-btn-text);
  --btn-text-hover: var(--dark-ui-btn-text-hover);
  --btn-bg: var(--dark-ui-btn-bg);
  --btn-bg-hover: var(--dark-ui-btn-bg-hover);
  --diagram-grid: var(--dark-diagram-grid);
  --diagram-completed-state: var(--dark-diagram-completed-state);
  --diagram-completed-state-border: var(--dark-diagram-completed-state-border);
  --diagram-modified-state: var(--dark-diagram-modified-state);
  --diagram-modified-state-border: var(--dark-diagram-modified-state-border);
  --diagram-empty-state: var(--dark-diagram-empty-state);
  --diagram-empty-state-border: var(--dark-diagram-empty-state-border);
  --ui-icon-color1: var(--dark-ui-icon-color1);
  --ui-icon-color2: var(--dark-ui-icon-color2);
  --ui-icon-color3: var(--dark-ui-icon-color3);
  --ui-icon-color4: var(--dark-ui-icon-color4);
  --ui-icon-color5: var(--dark-ui-icon-color5);
  --ui-icon-color6: var(--dark-ui-icon-color6);
  --terminal-black: var(--dark-terminal-black);
  --terminal-black-bright: var(--dark-terminal-black-bright);
  --terminal-white: var(--dark-terminal-white);
  --terminal-white-bright: var(--dark-terminal-white-bright);
  --terminal-red: var(--dark-terminal-red);
  --terminal-red-bright: var(--dark-terminal-red-bright);
  --terminal-green: var(--dark-terminal-green);
  --terminal-green-bright: var(--dark-terminal-green-bright);
  --terminal-yellow: var(--dark-terminal-yellow);
  --terminal-yellow-bright: var(--dark-terminal-yellow-bright);
  --terminal-blue: var(--dark-terminal-blue);
  --terminal-blue-bright: var(--dark-terminal-blue-bright);
  --terminal-purple: var(--dark-terminal-purple);
  --terminal-purple-bright: var(--dark-terminal-purple-bright);
  --terminal-cyan: var(--dark-terminal-cyan);
  --terminal-cyan-bright: var(--dark-terminal-cyan-bright);
  --editor-base:var(--dark-editor-base);
  --editor-keyword:var(--dark-editor-keyword);
  --editor-parameter:var(--dark-editor-parameter);
  --editor-string:var(--dark-editor-string);
  --editor-function:var(--dark-editor-function);
  --editor-type:var(--dark-editor-type);
  --editor-number:var(--dark-editor-number);
  --editor-background:var(--dark-editor-background);
  --editor-foreground:var(--dark-editor-foreground);
  --editor-comment:var(--dark-editor-comment);
  --editor-highlight:var(--dark-editor-highlight);
  --editor-lineNumber:var(--dark-editor-lineNumber);
  --img-filter: var(--dark-ui-img-filter);
}
* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}
@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}
*::selection {
  color: #000;
  background-color: var(--theme);
}
.hidden {
  display: none;
}

.panel {
  background-color: var(--bg-3);
  border: solid 1px var(--border);
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}


body > .header{
  color: var(--text);
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, Roboto, sans-serif;
  background-color: var(--bg-1);
  border-bottom: solid 1px var(--border);
  width: 50px;
  min-width: 50px;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
}

body> .header ul {
  margin: 0;
  list-style-type: none;
}

body> .header li {
  margin: 0;
  height:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}
body> .header li.separator {
  height:5px;
  margin: 10px 10px 5px 10px;
  padding: 0;
  cursor: default;
  border-top: 1px solid var(--text);
}
body> .header :is(li:not(.text-logo),li:not(.text-logo)>label)>a{
  display: block;
  text-align: center;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
  fill: var(--text);
  color: var(--text);
  background: var(--text);
  margin-left: 50%;
  transform: translate(-50%, 0%);
}
body> .header li.text-logo>a {
  font-size: 1.25em;
  cursor: pointer;
}
body> .header li.text-logo>a>.text-rest {
  font-size: 0.3em;
  cursor: pointer;
}
.text-logo{
  text-align: center;
}

body> .header :is(li:not(.text-logo),li:not(.text-logo)>label)>a:hover {
  background: var(--theme-color);
}
body> .header li.text-logo>a:hover {
  color: var(--theme-color);
}

body> .header :is(li:not(.text-logo).active,li:not(.text-logo).active>label)>a{
  background: var(--theme-color);
}
body> .header :is(li.active,li.active>label)>a{
  color: var(--theme-color);
}

body> .header li.active{
  border-left: solid 2px var(--theme-color);
}

/* Dropdown Button */
.dropbtn {
  display: block;
  text-align: center;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
  background: var(--text);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background: var(--theme-color);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  font-size: 16px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-3);
  min-width: 200px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50px;
  top: -50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: var(--bg-3);
  border: 1px solid var(--border);
  color: var(--text);
  display:block;
  font-size: 1em;
  width: auto;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

:-moz-any(.dropdown-content a){
  font-size: 0.9em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--bg-3-hover);
  color: var(--text-hover);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.content{
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}
::-webkit-scrollbar-track-piece  {
  background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollthumb-color);
}





input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.gradient-viewer{
  display:inline-block;
  width:100%;
  height:20px;
  transform: translateY(5px);
}



.manager-container{
  background-color: var(--bg-2);
  margin: auto;
  color: var(--text);
}
.manager-content{
  overflow: auto; /* Enable scroll if needed */
  height: 100%; /* Full height */
}




.context-menu { 
  position: absolute; 
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
} 
.context-menu > div { 
  position: absolute; 
} 
.context-menu > div > ul {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 5px 5px;
  gap: 2px;
  user-select: none;
  backdrop-filter: blur(20px);
}
.context-menu > div > ul > li {
  font: inherit;
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  font-family: Helvetica, sans-serif;
  text-decoration: unset;
  color: var(--btn-text);
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 5px;
}
.context-menu > div > ul > li.disabled {
  background-color: var(--bg-4-hover);
  cursor:unset;
}
.context-menu > div > ul > li::before{
  margin-right: 15px;
  font-size: 14px;
}
.context-menu > div > ul > li:not(.disabled):hover {
  /*background: linear-gradient(var(--bg-3),var(--bg-3-hover)15%,var(--bg-3-hover)85%,var(--bg-3));*/
  background-color: var(--bg-3-hover);
  color: var(--text-hover);
}



::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track-piece  {
  background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: var(--scrollthumb-color);
}

/*
use in serverFileManager 
*/
[class^="icon-file"]:before,
[class*=" icon-file"]:before {
  color:var(--ui-icon-color0);
  margin-right: 5px;
  font-size: 15px;
}
.color1:before{
  color:var(--ui-icon-color1);
}
.color2:before{
  color:var(--ui-icon-color2);
}
.color3:before{
  color:var(--ui-icon-color3);
}
.color4:before{
  color:var(--ui-icon-color4);
}
.color5:before{
  color:var(--ui-icon-color5);
}
.color6:before{
  color:var(--ui-icon-color6);
}


.added-diff {
  color: var(--ui-success);
}
.removed-diff {
  color: var(--ui-error);
}
.modified-diff {
  color: var(--ui-warning);
}
#diffEditor{
  background-color: var(--bg-0);
}
#sceneViewer{
  overflow: hidden;
}

div.dg.ac.themeCustomization {
  z-index: 9999999;
}
.dg.main > ul {
  height: unset !important;
}
.themeCustomization>div {
  max-height: 100vh;
  padding-bottom: 120px;
}
.themeCustomization .dg .property-name{
  width: 60%;
  text-align: end;
  padding-right: 10px;
  color: var(--text)
}
.themeCustomization .dg .c{
  width: 40%;
}

.themeCustomization .dg li.title{
  background: var(--bg-4) url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
  color: var(--text-2);
}
.themeCustomization .dg li:not(.folder):not(.title) {
  background: var(--bg-2);
}