
custom-list{
    font-size: 13px;
    font-family: "Arial", sans-serif;
    background-color: var(--bg-2);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    overflow-y: auto !important;
    height: 100%;
    display: block;
    overflow-x: clip;
  }
  
  
  
  .collapsable {
    cursor: pointer;
  }
  
.collapse_icon{
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
  
    transition: 100ms linear transform;
    -webkit-transition: 100ms linear -webkit-transform;
    -moz-transition: 100ms linear -moz-transform;
    -o-transition: 100ms linear -o-transform;
  
  }
  
  .collapse_icon.active{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    
    transition: 100ms linear transform;
    -webkit-transition: 100ms linear -webkit-transform;
    -moz-transition: 100ms linear -moz-transform;
    -o-transition: 100ms linear -o-transform;
  }
  
  custom-section > div{
    height: 22px;
    color: var(--text-2);
    padding-left: 10px;
    cursor: default;
    white-space: nowrap; 
    display:flex;
    position: relative;
  }
  
  custom-section.title > div{
    background-color: var(--bg-4);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    height: 23px;
  }
  custom-section.title > div.collapsable:hover {
    background-color: var(--bg-4-hover);
    color: var(--text-2-hover);
  }
  custom-section.active > div{
      color: var(--theme-color)!important;
  }
  custom-section.dashed > div{
      border: 1px dashed;
  }
  
  custom-section.dashed-theme > div{
      border: 1px dashed var(--theme-color);
  }
  custom-section.item-selected-2 > div, custom-item.item-selected-2 {
      background-color: var(--bg-3-hover);
      opacity: 0.4;
  }
  
  custom-section.item-selected > div, custom-item.item-selected {
      color: var(--theme-color) !important;
      background-color: var(--bg-3-hover) !important;
  }
  
  custom-section > div > input{
      padding: 3px;
      padding-left: 15px;
      border: 0px;
      width: 100%;
      height: 100%;
      background-color: var(--bg-input);
      color: var(--text)!important;
      -webkit-appearance: none;
  }
  
  custom-section.title > div > input{
      text-transform: uppercase;
      font-weight: bold;
  }
  
  custom-section > div.collapsable {
    cursor: pointer;
  }
  custom-section > div.collapsable:hover {
    background-color: var(--bg-3-hover);
    color: var(--text-2-hover);
  }
  custom-section > div > span:nth-child(-n+2){
    text-overflow: ellipsis;
    overflow: hidden; /* For some browsers the don't like clip */
    padding-top: 5px;
  }
  
  
  custom-section > div > span.btn-slot {
    float: right;
    margin-left: auto;
    padding: 3px 7px;
    display: flex;
    gap: 5px;
  }
  custom-section > div a {
    background-color: var(--theme-color);
    color: #fff;
    border-radius: 5px;
    height: 16px;
    width: 16px;
    text-decoration: none;
    text-align: center;
    display: none;
    cursor: pointer;
  }
  
  custom-section > div a[class^="icon-"]:before {
    padding: 2px;
    font-size: 12px;
  }
  
  custom-section > div a.close{
    background-color: #d13b4b;
  }
  
  custom-section:hover > div a {
    display: block!important;
  }
  
  custom-section {
    background-color: var(--bg-2);
    height: min-content;
    display: block;
    color: var(--text);
  }
  
  custom-section > ul {
      overflow-x: hidden; /* For some browsers the don't like clip */
      overflow-y: hidden;
      height: min-content;
      background-color: inherit;
  }
  .cl-marker {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-left: auto;
    color: var(--text-2);
  }
  .cl-marker input[type=checkbox]{
    accent-color: var(--theme-color);
  }
  
custom-item{
    display: block;
}
custom-item:hover {
  background-color: var(--bg-3-hover);
}
custom-item span.cl-marker~a {
    margin-left: 0;
}
custom-item a {
    height: 15px;
    width: 15px;
    text-decoration: none;
    text-align: center;
    display: none;
    cursor: pointer;
    float: right;
    margin-left: auto;
}
custom-item:hover a {
    display: block;
}
custom-item.editable > div > span:not(.cl-marker):hover {
    color: var(--text-hover);
    cursor: pointer;
}
custom-item.active > div > span {
    color: var(--theme-color);
}
custom-item > div {
    display: inline-flex;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    padding-left: 0px;
    border-bottom: 0px solid var(--border);
    padding: 3px;
    margin-left: 1px;
    white-space: nowrap;
    cursor: default;
    height: 22px;
}

custom-item.dashed {
    border: 1px dashed;
}

custom-item.dashed-theme {
    border: 1px dashed var(--theme-color) !important;
}


custom-item > div > span:not(.cl-marker) {
  text-overflow: ellipsis;
  overflow: hidden;
}

custom-item.typed > div > *:first-child {
    font-family: 'Fira Code';
    font-style: oblique;
    font-weight: 500;
    color: #c44;
    padding-right: 15px;
}

custom-item.typed > div > select{
    height:100%;
    background-color: var(--bg-input);
    border-style: none;
    -webkit-appearance: toolbox;
    width: 80px;
}
custom-item.typed > div > select:hover{
  background-color: var(--bg-input-hover);
}
custom-item > div > input{
    padding: 3px;
    padding-left: 15px;
    border: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-input);
    color: var(--text)!important;
    -webkit-appearance: none;
}

custom-section[id^="Scenario"] custom-item div > span:nth-child(4){
    padding-right: 32px;
}

custom-section.edition .btn-slot, custom-item.edition .btn-slot {
    display: none;
}

custom-section.loading > div.collapsable::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Largeur initiale */
  height: 100%; /* Hauteur de la bande */
  background: var(--theme-color);
  opacity: 0.2; /* Opacité de la bande */
  animation: loadingSectionAnimation 2s linear infinite; /* Animation infinie */
}

/* Animation de "loading" */
@keyframes loadingSectionAnimation {
  0% {
      left: 0;
      width: 10%;
  }
  50% {
      left: 25%;
      width: 70%;
  }
  100% {
      left: 100%;
      width: 10%;
  }
}