
.svgCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
    background-color: var(--bg-4);
    z-index: 99;
    position:absolute;
    width: 100%;
    height: 100%;
    color: var(--text);
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
  }
  
  .svgCardContainer .svgCard {
    width: 300px;
    /*height:300px;*/
    background-color: var(--bg-2);
    border: 1px solid #111;
    border-radius: 5px;
    cursor:pointer;
  }
  
  .svgCardContainer .svgCard.active {
    border: 2px solid var(--theme-color);
  }
  .svgCardContainer .svgCard svg {
    width: 300px;
    height: 200px;
    padding: 10px;
  }
  
  .svgCardContainer .svgCard p.header-svgCard {
    width: 298px;
    height: 43px;
    padding: 12px;
    background-color: var(--bg-1);
    outline: 1px solid #111;
    /*border-radius: 0 0 5px 5px;*/
    position: relative;
  }
  
  .svgCardContainer .svgCard .header-svgCard2 {
    display:flex; 
    background-color: var(--bg-1);
    height:30px
  }
  
  .svgCardContainer .svgCard .header-svgCard2 span {
    width:100%;
    padding:7px;
  }
  .svgCardContainer .svgCard .header-svgCard2 input {
    width:100%;
    padding:7px;
    background-color: var(--bg-input);
    color: var(--text);
    -webkit-appearance: none;
  }
  
  
  .svgCardContainer .svgCard .header-svgCard2 a {
    padding: 3px 2px 3px 6px;
    color:#fff;
    font-size:20px
  }
  
  .svgCardContainer .svgCard p:not(.header-svgCard) {
    padding: 10px;
    font-size: 12px;
    text-align: justify;
    cursor: default;
  }
  .svgCardContainer .svgCard p a {
    color: var(--theme-color);
    cursor: pointer;
  }
  
  .svgCardContainer .svgCard p.header-svgCard::after{
    width: 40px;
    position: absolute;
    right: 0;
    background-color: #9e1a1a;
    height: 31px;
    top: 0;
    /*border-bottom-right-radius: 5px;*/
    text-align: center;
    padding-top: 12px;
    color: #fff;
  }
  .svgCardContainer .svgCard.D3 p.header-svgCard::after {
    content: "3D";
  }
  .svgCardContainer .svgCard.D2 p.header-svgCard::after {
    content: "2D"
  }