#exploreGUI {
    background-color: var(--bg-3);/*var(--bg-color);*/
    color: var(--text);
    font-family: Helvetica, sans-serif;
  }
  #exploreGUI img {
    filter: var(--img-filter);
}
  #exploreGUI .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    column-gap: 18px;
  }
  
  #exploreGUI [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #exploreGUI .row > label > div {
      padding: 5px;
  }
  #exploreGUI .row > label > div > img {
    width: 100%;
  }
  /* IMAGE STYLES */
  #exploreGUI [type=radio] + div {
    cursor: pointer;
    width: 100%;
  }
  
  /* CHECKED STYLES */
  #exploreGUI [type=radio]:checked + div {
    outline: 3px solid var(--theme);
    border-radius: 5px;
  }

  #selectChangeNbCol {
    position: absolute;
    right: 0;
  }
  
  #selected-item {
      width: 50%;
      padding: 0;
      background-color: var(--bg-0);;
      border: 1px solid var(--border);
      border-radius: 5px;
      padding: 15px 5px;
      margin-left: 50%;
      transform: translate(-50%, 0);
      min-width: 600px;
  }
  #selected-item > li {
      display: grid;
      gap: 0.5em;
      grid-template-columns: 5fr minmax(100px,1fr) minmax(100px,1fr) 30px;
      text-align: right;
      padding: 2px 10px;
  }
  #selected-item > li > a {
      background-color: #c72272;
      width: 24px;
      text-decoration: none;
      color: #eee;
      padding: 2px 6px 2px 6px;
      margin-left: 5px;
      border-radius: 5px;
      cursor: pointer;
  
  }
  
  
  #selected-item > li > input {
    width:100%;
    border-radius: 0.35em;
    background-color: var(--bg-input);
    border: solid 1px var(--text-2);
    color: var(--text-2);
    padding: 5px;
  }
  
  /*
  tree
  */
  #fig-tree{
      display: flex;
      flex-direction: column;
      row-gap: 80px;
      padding: 25px 0;
      z-index: 2;
  }
  
  #fig-leaf{
      padding: 25px 0;
  }
  
  #exploreGUI .row-tree{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
  }
  #exploreGUI .item-tree > [type="radio"]:checked + div {
    outline: 5px solid var(--theme);
  }

  #exploreGUI .item-tree svg {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%, 0px);
  }

  #fig-leaf svg {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%, 0px);
  }

  #exploreGUI .item-tree > div > img {
    width: 100%;
    position: relative;
  }
  #exploreGUI .item-tree > div {
      position: relative;
      padding: 5px;
      outline: 2px solid #b8b8b8;
      border-radius: 5px;
  }
  #exploreGUI .item-tree > div > a {
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: #c72272;
      width: 24px;
      text-decoration: none;
      color: #eee;
      padding: 2px 6px 2px 6px;
      margin-left: 5px;
      border-radius: 5px;
  }
  
  #exploreGUI img.zoom {
    transition: transform .15s;
  }
  
  #exploreGUI img.zoom:hover {
    transition-delay: 0.8s;
    transform: scale(1.75); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 5;
    position: relative;
  }
  #exploreGUI hr {
    border: 1px solid var(--border);
  }
  
  #exploreGUI button {
      padding: 0.4em 1em;
      border-radius: 0.35em;
      text-decoration: none;
      background-color: var(--theme);
      text-align: center;
  }
  #exploreGUI select {
      padding: 0.4em 1em;
      border-radius: 0.35em;
      text-decoration: none;
      background-color: var(--bg-input);
      border: solid 1px var(--text-2);
      color: var(--text-2);
      text-align:left;
  }
  #btnRootExplore{
      margin-left: 50%;
      margin-top: 30px;
      transform: translate(-50%, 0);
      width: 200px;
  }
  
  #explorePythonDebug{ 
    white-space: pre;
    font-family: 'Fira Code';
    font-size: 12px;
    background-color: var(--bg-0);
    color: #db2b6e;
    padding: 25px;
  }