/* Modal Content */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(2px);
    font-family: Helvetica, sans-serif;
  }
.modal .modal-header {
    background-color: var(--bg-0);
    padding: 20px 10px 20px 20px;
    border: 1px solid var(--border);
    width: 80%;
    color: var(--text);
    border-radius: 10px;
    transform: translate(-50%,max(-50%,-50vh));
    top: 50%;
    position: absolute;
    left: 50%;
    max-height: calc(100% - 40px);
    overflow-y: auto;
  }
  
  .modal input[type="text"], .modal textarea {
      height: 24px;
      width: 100%;
      background-color: var(--bg-input);
      color: var(--text-2);
      border:none;
      padding: 5px;
  }
  .modal input[type='checkbox']{
      height: 20px;
      width: 20px;
      accent-color:var(--theme);
      background-color: var(--bg-0);
  }

  .modal .modal-header > span {
    font-weight: bold;
  }
  .modal .modal-content {
    width: calc(100% - 10px);
    margin-top: 10px;
  }
  .modal .modal-shadow {
    box-shadow: 0px 5px 15px var(--text);
  }
  
  /* The Close Button */
  .modal .close {
    color: var(--text);
    position: relative;
    float: right;
    top: -5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
  }
  
  .modal .close:hover,
  .modal .close:focus {
    color: var(--text-hover);
    text-decoration: none;
    cursor: pointer;
  }
  .modal footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    gap:10px
  }
  .modal footer a{
    position: relative;
    padding: 10px 15px 8px 15px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  .modal code {
    overflow: auto;
    white-space: pre;
    display: block;
    font-family:'Fira Code';
    font-size: 13px;
  }