
.module-select-input {
    display: none;
  }
  
  #customModuleContainer custom-section.title > div {
  text-transform: none;
}
  .module-select-label, .module-select-text, .module-select-text-description {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
  }
  
  .module-select-label{
    display: inline-block;
    font-family: Inter, Roboto, sans-serif;
    vertical-align: top;
    position: relative;
    width: 100%;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 14px;
    margin: 16px 0 0 0;
    border: 1px solid var(--border);
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 var(--theme-color);
  }
  .module-select-label:before{
    content: "";
    position: absolute;
    top: 90%;
    right: 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
    background-color: var(--theme-color);
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 375.147 375.147" style="enable-background:new 0 0 375.147 375.147;" xml:space="preserve"><g><polygon fill="white" points="344.96,44.48 119.147,270.293 30.187,181.333 0,211.52 119.147,330.667 375.147,74.667   "/></g></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 50% 0px 50% 50%;
    transform: translate(0%, -0%);
    -webkit-transform: translate(0%, -0%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  
  .module-select-text-description, .attribute-select-text-description {
    font-size: 12px;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid var(--border);
  }
  
  .module-select-input:checked + .module-select-label {
    border-color: var(--theme-color);
    box-shadow: inset 0 -12px 0 0 var(--theme-color);
    padding-bottom: 20px;
  }
  .module-select-input:checked + .module-select-label:before {
    top: 0;
    opacity: 1;
  }
  .module-select-input:checked + .module-select-label .module-select-text {
    transform: translate(0, -8px);
    -webkit-transform: translate(0, -8px);
  }
  .module-select-input:checked + .module-select-label .module-select-text-description {
    border-color: var(--border);
  }
  
  .module-select-content-badge, .attribute-select-content-badge {
    margin-top: 5px;
    padding-top: 5px;
  }
  .module-select-badge, .attribute-select-badge {
    padding: 2px 4px;
    color: #fff;
    margin-right: 5px;
    font-weight: 300;
    font-size: 0.8rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-clip: padding-box;
    white-space: nowrap;
  }
  
  .module-color-dependencies span, span.module-color-dependencies {
    background-color: #009688;
  }
  
  .module-color-type span, span.module-color-type {
    background-color: #9e1a1a;
  }
  
  .module-badge-list span.module-select-badge {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .module-select-badge-group{
    display: inline-flex;
    font-family: Inter, Roboto, sans-serif;
    width: 100%;
  }