.toast-title {
    font-weight: 700
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
}

.toast-close-button:focus,
.toast-close-button:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-hover);
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%
}

.toast-top-left {
    top: 12px;
    left: 55px
}

.toast-top-right {
    top: 12px;
    right: 12px
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px
}

.toast-bottom-left {
    bottom: 5px;
    left: 55px
}

#toast-container {
    position: fixed;
    z-index: 99
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#toast-container>div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 350px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background-position: 15px;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px rgb(64 64 64 / 50%);
    color: var(--text);
    font-family: 'Arial',sans-serif;
    border: 1px solid var(--border);
    cursor: pointer
}
#toast-container>div:before{
    position: absolute;
    margin-left: -25px;
    margin-top: -15px;
    font-size: 25px;
    height: 100%;
    top: 50%;
    transform: translate(-50%, 0%);
}
#toast-container>div.icon-eye:hover{
    border: 1px solid var(--ui-info);
}
#toast-container>div.icon-cancel:hover{
    border: 1px solid var(--ui-error);
}
#toast-container>div.icon-ok:hover{
    border: 1px solid var(--ui-success);
}
#toast-container>div.icon-attention:hover{
    border: 1px solid var(--ui-warning);
}

#toast-container>.icon-eye .toast-title, #toast-container>.icon-eye:before {
    color:var(--ui-info);
}
#toast-container>.icon-cancel .toast-title, #toast-container>.icon-cancel:before {
    color:var(--ui-error);
}
#toast-container>.icon-ok .toast-title,#toast-container>.icon-ok:before {
    color:var(--ui-success);
}
#toast-container>.icon-attention .toast-title, #toast-container>.icon-attention:before {
    color:var(--ui-warning);
}

#toast-container>.icon-ok .toast-progress {
    background-color: var(--ui-success);
}
#toast-container>.icon-cancel .toast-progress {
    background-color: var(--ui-error);
}
#toast-container>.icon-eye .toast-progress {
    background-color: var(--ui-info);
}
#toast-container>.icon-attention .toast-progress {
    background-color: var(--ui-warning);
}

#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div {
    width: 350px;
    margin-left: auto;
    margin-right: auto
}

#toast-container.toast-bottom-full-width>div,
#toast-container.toast-top-full-width>div {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}

.toast {
    background-color: var(--bg-1);
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80)
}

@media (max-width:240px) {
    #toast-container>div {
        padding: 8px 8px 8px 50px;
        width: 11em
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

@media (min-width:241px) and (max-width:480px) {
    #toast-container>div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

@media (min-width:481px) and (max-width:768px) {
    #toast-container>div {
        padding: 15px 15px 15px 50px;
        width: 25em
    }
}

/*# sourceMappingURL=toastr.min.css.map */