
#parametersGUI .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: inline-flex;
    gap:15px;
    font-size: 15px;
    flex-direction: row;
    color: var(--text);
    background-color: var(--bg-1);
  }#parametersGUI .header span{
    margin-top: 6px;
  }
  #parametersGUI .header div {
    margin-top: 2px;
  }
  #parametersGUI .header span:nth-child(1) {
    width: 25%;
  }
  #parametersGUI .header span:nth-child(2) {
    width: 6%;
  }
  #parametersGUI .header span:nth-child(3) {
    width: 6%;
    flex: 1 1 auto;
  }
  #parametersGUI .header span:nth-child(4) {
    width: 6%;
  }
  
  #parametersListGUI {
    position: absolute;
    width: 100% !important;
    height: calc(100% - 30px);
    overflow: auto !important;
    background-color: var(--bg-3);
    top: 30px;
  }
  
  .compilation-status {
    font-size: 14px;
    width: 12px;
  }
  
  
  
  
  div.common-vertical-button-slot{
    position: sticky;
    bottom: 0;
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }
  
  div.common-horizontal-button-slot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  
  a.common-button{
    border-radius : 5px;
    background-color : var(--theme-color);
    cursor : pointer;
    color : #222;
    text-align : center;
    padding : 5px 3px;
    font-weight : bold;
    border: var(--border) 1px solid;
    white-space: nowrap;
    flex: auto;
  }
  a.common-button:hover{
    background-color : var(--theme-color-hover);
  }
  a.common-button.icon-load:before{
    margin-right: 10px;
  }
  a.common-button.disabled{
    background-color : var(--bg-4) !important;
    color: var(--text);
    cursor: unset;
  }

  .goto-error {
    cursor: pointer;
    display: block;
    padding: 10px 0;
  }
  .goto-error:hover{
    backdrop-filter: invert(0.05);
  }