
#welcomePage {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
    height: calc(100% - 40px);
    color:var(--text);
    width:100%;
}
#welcomePage .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#welcomePage .slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
#welcomePage .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 40px;
    background-color: var(--bg-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
    justify-content: space-between;
}

#welcomePage .slide img {
    max-width: 100%;
    margin:auto;
    display: block;
}

#welcomePage .double-column {
    display: flex;
    width: 100%;
}
#welcomePage h1,
#welcomePage h2,
#welcomePage h3,
#welcomePage h4,
#welcomePage b {
    color: var(--text-2);
}
#welcomePage p {
    text-indent: 20px;
  }

#welcomePage .column {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#welcomePage .left-column {
    max-width: 500px;
}
#welcomePage .right-column {
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}
#welcomePage .list-item {
    padding: 10px;
    border: solid 1px var(--text);
    color: var(--text);
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: solid 3px;
}
#welcomePage .showOnStartup {
    margin-top: 20px;
}
#welcomePage .list-item:hover,#welcomePage .list-item.selected {
    background-color: var(--bg-2);
    border: solid 1px var(--text-2);
    color: var(--text-2);
    border-bottom: solid 3px;
}
#welcomePage .list-item.selected{
    border-bottom: solid 3px var(--theme-color);
    cursor: default;
}
#welcomePage .details {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: justify;
    position: relative;
}
#welcomePage code.block {
    padding: 15px;
    border: 1px solid var(--text-2);
    border-radius: 5px;
    display: block;
    margin: 25px;
    background-color: var(--editor-background);
    overflow-x: auto;
    font-family: 'Fira Code';
    font-size: 13px;
}
#welcomePage .examples-btn[data-examples="-1"]{
    display: none;
} 
#welcomePage .examples-btn {
    padding: 10px;
    background-color: var(--theme-color);
    color: #222;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
#welcomePage .examples-btn:hover {
    background-color: var(--theme-color-hover)
}
#welcomePage .return-btn {
    top: -5px;
    left: 10px;
    padding: 10px;
    color: var(--theme-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;

}
#welcomePage .return-btn:hover {
    color: var(--theme-color-hover);
}
#welcomePage .content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
#welcomePage .examples-content {
    height: 100%;
}
#welcomePage pre {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    overflow-x: auto;
}